  .md\:prose-base {
    font-size:1rem;
    line-height:1.75
  }
  .md\:prose-base :where(p):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em;
    margin-bottom:1.25em
  }
  .md\:prose-base :where([class~=lead]):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:1.25em;
    line-height:1.6;
    margin-top:1.2em;
    margin-bottom:1.2em
  }
  .md\:prose-base :where(blockquote):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.6em;
    margin-bottom:1.6em;
    padding-left:1em
  }
  .md\:prose-base :where(h1):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:2.25em;
    margin-top:0;
    margin-bottom:.8888889em;
    line-height:1.1111111
  }
  .md\:prose-base :where(h2):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:1.5em;
    margin-top:2em;
    margin-bottom:1em;
    line-height:1.3333333
  }
  .md\:prose-base :where(h3):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:1.25em;
    margin-top:1.6em;
    margin-bottom:.6em;
    line-height:1.6
  }
  .md\:prose-base :where(h4):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.5em;
    margin-bottom:.5em;
    line-height:1.5
  }
  .md\:prose-base :where(img):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:2em;
    margin-bottom:2em
  }
  .md\:prose-base :where(picture):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:2em;
    margin-bottom:2em
  }
  .md\:prose-base :where(picture>img):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0;
    margin-bottom:0
  }
  .md\:prose-base :where(video):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:2em;
    margin-bottom:2em
  }
  .md\:prose-base :where(kbd):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.875em;
    border-radius:.3125rem;
    padding:.1875em .375em
  }
  .md\:prose-base :where(code):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.875em
  }
  .md\:prose-base :where(h2 code):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.875em
  }
  .md\:prose-base :where(h3 code):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.9em
  }
  .md\:prose-base :where(pre):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.875em;
    line-height:1.7142857;
    margin-top:1.7142857em;
    margin-bottom:1.7142857em;
    border-radius:.375rem;
    padding:.8571429em 1.1428571em
  }
  .md\:prose-base :where(ol):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em;
    margin-bottom:1.25em;
    padding-left:1.625em
  }
  .md\:prose-base :where(ul):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em;
    margin-bottom:1.25em;
    padding-left:1.625em
  }
  .md\:prose-base :where(li):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:.5em;
    margin-bottom:.5em
  }
  .md\:prose-base :where(ol>li):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-left:.375em
  }
  .md\:prose-base :where(ul>li):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-left:.375em
  }
  .md\:prose-base :where(.md\:prose-base>ul>li p):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:.75em;
    margin-bottom:.75em
  }
  .md\:prose-base :where(.md\:prose-base>ul>li>*:first-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em
  }
  .md\:prose-base :where(.md\:prose-base>ul>li>*:last-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-bottom:1.25em
  }
  .md\:prose-base :where(.md\:prose-base>ol>li>*:first-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em
  }
  .md\:prose-base :where(.md\:prose-base>ol>li>*:last-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-bottom:1.25em
  }
  .md\:prose-base :where(ul ul,
  ul ol,
  ol ul,
  ol ol):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:.75em;
    margin-bottom:.75em
  }
  .md\:prose-base :where(dl):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em;
    margin-bottom:1.25em
  }
  .md\:prose-base :where(dt):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:1.25em
  }
  .md\:prose-base :where(dd):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:.5em;
    padding-left:1.625em
  }
  .md\:prose-base :where(hr):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:3em;
    margin-bottom:3em
  }
  .md\:prose-base :where(hr+*):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0
  }
  .md\:prose-base :where(h2+*):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0
  }
  .md\:prose-base :where(h3+*):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0
  }
  .md\:prose-base :where(h4+*):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0
  }
  .md\:prose-base :where(table):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.875em;
    line-height:1.7142857
  }
  .md\:prose-base :where(thead th):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-right:.5714286em;
    padding-bottom:.5714286em;
    padding-left:.5714286em
  }
  .md\:prose-base :where(thead th:first-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-left:0
  }
  .md\:prose-base :where(thead th:last-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-right:0
  }
  .md\:prose-base :where(tbody td,
  tfoot td):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding:.5714286em
  }
  .md\:prose-base :where(tbody td:first-child,
  tfoot td:first-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-left:0
  }
  .md\:prose-base :where(tbody td:last-child,
  tfoot td:last-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    padding-right:0
  }
  .md\:prose-base :where(figure):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:2em;
    margin-bottom:2em
  }
  .md\:prose-base :where(figure>*):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0;
    margin-bottom:0
  }
  .md\:prose-base :where(figcaption):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    font-size:.875em;
    line-height:1.4285714;
    margin-top:.8571429em
  }
  .md\:prose-base :where(.md\:prose-base>:first-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-top:0
  }
  .md\:prose-base :where(.md\:prose-base>:last-child):not(:where([class~=not-prose],
  [class~=not-prose] *)) {
    margin-bottom:0
  }
  .md\:btn-md {
    height:3rem;
    padding-left:1rem;
    padding-right:1rem;
    min-height:3rem;
    font-size:.875rem
  }
  .md\:btn-lg {
    height:4rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    min-height:4rem;
    font-size:1.125rem
  }
  .md\:btn-wide {
    width:16rem
  }

