{% extends "base.html" %}
{% load static config_tags wagtailcore_tags %}


{% block body_class %}template-location-field{% endblock %}

{% block extra_css %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'css/field_page.css' %}">
{% endblock extra_css %}

{% block extra_js %}
    {% if page.latitude is not none and page.longitude is not none %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <script>
        mapboxgl.accessToken = '{% get_setting "MAPBOX_TOKEN" %}';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/antoviaque/clpc696jo002f01q1772g0xdy',
            center: [{{ page.longitude }}, {{ page.latitude }}],
            zoom: 3,
            pitch: 0,
            bearing: 0,
        });

        // Map controls
        map.addControl(new mapboxgl.ScaleControl());
        map.addControl(new mapboxgl.NavigationControl());
        map.addControl(new mapboxgl.FullscreenControl());

        // Field marker
        const marker1 = new mapboxgl.Marker()
            .setLngLat([{{ page.longitude }}, {{ page.latitude }}])
            .addTo(map);

        map.flyTo({
            center: [{{ page.longitude }}, {{ page.latitude }}],
            zoom: 14,
            pitch: 60,
            speed: 0.5,
        });
    </script>
    {% endif %} 
{% endblock extra_js %}

{% block content %}
    <h2>{{ page.title }}</h2>
    
    {% if page.latitude is not none and page.longitude is not none %}
    <div id='map' class='w-full h-96'></div>
    <div>Tips:
        <ul>
            <li>Scroll to zoom in/out</li>
            <li>Left-click and hold then move the mouse to move around</li>
            <li>Hold both left and right mouse buttons, then move the mouse to rotate the view</li>
        </ul>
    </div>
    {% endif %} 

    <div>Elevation: 
        {% if page.elevation is not none %}
            {{ page.elevation }}' MSL
        {% else %}
            Unkown
        {% endif %}
    </div>

    {% if page.pattern_altitude is not none %}
        <div>Pattern altitude: {{ page.pattern_altitude }}' MSL</div>
    {% endif %} 

    {% if page.overfly_altitude is not none %}
        <div>Overfly altitude: {{ page.pattern_altitude }}'</div>
    {% endif %} 
    
    {% if page.runways.all %}
        <div>Runways:
            <ul>
                {% for runway in page.runways.all %}
                    <li>
                        {{ runway.number }}:
                        {% if runway.pattern %}{{ runway.pattern }} pattern,{% endif %}
                        {% if runway.length %}length {{ runway.length }}',{% endif %}
                        {% if runway.preferred_landing %}preferred for landing,{% endif %}
                        {% if runway.preferred_takeoff %}preferred for takeoff,{% endif %}
                        {% if runway.restrictions_landing %}{{ runway.restrictions_landing }},{% endif %}
                        {% if runway.restrictions_takeoff %}{{ runway.restrictions_takeoff }},{% endif %}
                        {% if runway.surface %}{{ runway.surface }},{% endif %}
                        {% if runway.slope %}slope {{ runway.slope }}%{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if page.approach_instructions %}
        <div>Approach instructions: {{ page.approach_instructions|richtext }}</div>
    {% endif %}

    {% if page.departure_instructions %}
        <div>Departure instructions: {{ page.approach_instructions|richtext }}</div>
    {% endif %}

    {% if page.frequencies.all %}
        <div>Frequencies:
            <ul>
                {% for frequency in page.frequencies.all %}
                    <li>{{ frequency.callsign }}: {{ frequency.frequency }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if page.notes %}
        <div>Additional notes: {{ page.approach_instructions|richtext }}</div>
    {% endif %}

    {% for image in page.images.all %}
        <img src="{{ image.image.file.url }}" alt="{{ image.image.title }}">
        {% if image.caption %}<div>{{ image.caption }}</div>{% endif %}
    {% endfor %}
    
    {% if page.latitude is not none and page.longitude is not none %}
    <div>Coordinates: {{ page.latitude }} {{ page.longitude }}</div>
    {% endif %}
    
    <div>Updated: {{ page.updated }}</div>


{% endblock content %}
