{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/flypedia.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="drawer lg:drawer-open">
          <input id="my-drawer" type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <div class="max-w-[100vw] px-6 pb-16 xl:pr-2">
              <div class="flex flex-col-reverse justify-between gap-6 xl:flex-row">
                <div class="prose prose-sm md:prose-base w-full max-w-4xl flex-grow pt-10">
                {% block content %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
          <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <a href="/"><img class="menu p-4 w-80 bg-base-200" src="{% static 'img/flypedia-logo.png' %}" /></a>
            <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
              {% for page in page_tree %}
                <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/flypedia.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
